# {{ansible_managed}}
# Allow elasticsearch to open 2048 threads. See https://www.elastic.co/guide/en/elasticsearch/reference/current/max-number-of-threads.html for more information.
elasticsearch    -       nproc           2048
