# {{ ansible_managed }}
# Borrowed from http://stackoverflow.com/a/3513812/5691309

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8


[mysqld]
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
